node_modules
lib
ui/index.js
.direnv
.DS_Store
logs
_deps
build
static/components
manifest
_ignore
norsk-studio-1.0.0.tgz norsk-studio.built-ins-1.0.0.tgz norsk-studio-demo-1.0.0.tgz norsk-studio.vision-director-1.0.0.tgz
workspaces/*/client
workspaces/*/build
*.tgz
built-ins.json
discord.json
vd.json
