== {{name}}
{{description}}

=== Features
* Accepts only a single stream. Can either be an audio stream, a video stream, or a stream with both audio and video
* Integration with ICE (Interactive Connectivity Establishment) servers for NAT traversal
* Configurable jitter buffer for managing network inconsistencies

=== Component Configuration
{{> optionsTable}}

{{> nestedOptionsTables}}

{{#hasGlobalOptions}}

=== Global Configuration

{{> globalOptionsTable}}

{{/hasGlobalOptions}}
